.sign-in{
-fx-background-color:#DCE1E7;

}
.sign-in:hover{
-fx-background-color: -fx-shadow-highlight-color;

}
.left-pane{
-fx-background-color:linear-gradient(to bottom, #101010 0%, #ffffff 100%)
}
.menu-pane{
-fx-background-color:linear-gradient(to bottom, #C4CDD5 0%, #ffffff 100%)
}
.ankori{
-fx-background-color:linear-gradient(to bottom,#4F6B95 0%,#ffffff 100%)}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color:linear-gradient(to bottom, #C4CDD5 0%, #ffffff 100%);
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;

}

.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}
.tekstime{
-fx-font-family:Times New Roman;
}
.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}
.apple{
-fx-border-radius:8px;

-fx-border-color:#4F6B95;
-fx-margin-left:5px;
-fx-margin-right:5px;
}
.apple:hover{

}