.root{
    -fx-background-color: #E5DDD6;
}
.vbox{
    -fx-background-color: #233A56;
}
.image-view{
    -fx-border-radius: 8px;
    -fx-opacity: 0.9;

}
.label{
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 24px;
    -fx-font-style: italic;
    -fx-text-fill: #E5DDD6;
}
#boldi{
    -fx-font-weight: bold;
}
#teknologji{
    -fx-border-style: dashed;
    -fx-opacity: 0.6;
    -fx-background-radius: 10px;

}
#welcome{
    -fx-text-fill: #9e9699;
    -fx-font-weight: bold;
    -fx-font-size: 28px;

}
#signi{
    -fx-text-fill: #9e9696;
    -fx-font-size: 19px;

}
.text-field:focused{
    -fx-background-color: #E5DDD9 ;
    -fx-text-fill: cornflowerblue;
    -fx-underline: true;
}
.text-field:hover{
    -fx-background-color: #E5DDD9;
}
.text-field{
    -fx-text-fill: cornflowerblue;
    -fx-background-color: aliceblue;
    -fx-border-color: transparent;
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
.button{
    -fx-font-size: 25px;
    -fx-font-family: Verdana;
    -fx-text-fill: darkgrey;
}

.button:hover {
    -fx-text-fill: #2A5058;
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#pasi{
    -fx-font-size: 12px;
    -fx-text-fill:#9e9696;


}
#pasi:hover{
    -fx-text-fill: #6747cd;
    -fx-underline: true;
}